<script src="{{projcfg.appurl}}/static/js/containerlistingdata.js" type="text/javascript"></script>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="cc" class="easyui-layout" data-options="fit:true,border:false" style="width: 800px; height:575px;background-color: #fbfbfb;">
                    <div data-options="region:'center',border:false" style="overflow-x:hidden;overflow-y:hidden">
                        <div id="toolbar" class="row tbRow" style="">
                            <div class="col-xs-6 col-md-6" style="width:100%">
                               <b>容器列表</b>
                                <div class="btn-group" role="group" aria-label="..." style="float: right;margin-right: 2.5rem">
                                    <button type="button" class="btn btn-default" onclick="back_project()" >
                                        <i class="fa fa-backward"></i> 返回
                                    </button>

                                </div>
                            </div>
                            <!--<div class="col-xs-6 col-md-6 text-right">
                                <form id="searchFrom" class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="input" class="form-control" id="filter_name" name="filter_name" placeholder="系统编码/名称">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="doSearch()"><i class="fa fa-search"></i>查询</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>-->
                        </div>

                        <table id="containermanageDataTable">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script  type="text/javascript">
    $(function(){
        $('#containermanageDataTable').datagrid({
            //url:'{{projcfg.appurl}}/api/project/containerlisting/develop/pm/cl/pageList',
            //method:'get',
            rownumbers:false,
            striped:true,
            fitColumns:true,
            toolbar: '#toolbar',
            fit:true,
            border:true,
            singleSelect:true,
            selectOnCheck:false,
            columns:[[
                {"field": "con_code", checkbox:true},
                {"field": "jjj","title":"编号","width":80,align:"center","formatter":function (value, rowData,rowIndex) {
                    return rowData.con_code;
                }},
                {"field": "con_name","title":"容器名称","width":100,align:"center"},
                {"field": "con_project","title":"所属项目","width":100,align:"center"},
                {"field": "health_condition","title":"健康状况","width":130,align:"center"},
                {"field": "status","title":"状态","width":80,align:"center"},
                {"field": "cpu","title":"CPU","width":80,align:"center"},
                {"field": "memory","title":"内存","width":120,align:"center"},
                {"field": "con_image","title":"所属镜像","width":180,align:"center"},
                {"field": "remark","title":"备注","width":200,align:"center"},
                {"field": "options","title":"操作","width":200,align:"center","formatter":function (value, rowData,rowIndex) {
                    return '详情 | 监控 | 日志';
                }}
            ]],
            onLoadSuccess:function(json) {

            },
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            pagination:false,
            loadMsg:'正在加载...'
        });
        $('#containermanageDataTable').datagrid('loadData',containermanagedata);
        GetRequest();
    });

    //页面直接跳转页面带参数时，获取url参数值
    function GetRequest(name) {
        var url = location.search; //获取url中"?"符后的字串
        if (url.indexOf("?") != -1) {    //判断是否有参数
            var str = url.substr(1); //从第一个字符开始 因为第0个是?号 获取所有除问号的所有符串
            strs = str.split("=");   //用等号进行分隔 （因为知道只有一个参数 所以直接用等号进分隔 如果有多个参数 要用&号分隔 再用等号进行分隔）
            console.log("====================="+decodeURI(strs[1]));
            return strs[1];
        }
    }

    function back_project(){
        history.go(-1);
    }

    function doSearch() {
        $('#containermanageDataTable').datagrid('reload');
    }
    function doClear() {
        doSearch();
    }

    // 打开页面
    function openPage(title, value, callback) {
        $('#myModal').show();
        $('#myModal').mydialog({
            title:title,
            width: 700,
            height: 485,
            top:100,
            modal: true,
            myButtons:[
                {
                    text:'确定',
                    btnCls:'btn btn-blue',
                    handler:function(){
                        callback(value);
                    }
                },
                {
                    text:'关闭',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        closeDialog();
                    }
                }
            ]
        });
    }

    // 清空新增表单数据
    function clear() {
        $('#projectForm').form('clear');
    }

    // 关闭窗口
    function closeDialog() {
        $('#myModal').dialog('close');
        clear();
    }

</script>