<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="cc" class="easyui-layout" data-options="fit:true,border:false" style="width: 800px; height:575px;background-color: #fbfbfb;">
                    <div data-options="region:'center',border:false" style="overflow-x:hidden;overflow-y:hidden">
                        <div id="toolbar" class="row tbRow" style="">
                            <div class="col-xs-12 col-md-12 text-right" style="padding-right:28px;">
                                <form id="searchFrom" class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="input" class="form-control" id="projectName" name="projectName" placeholder="项目名称">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="doSearch()"><i class="fa fa-search"></i>查询</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <table id="dataTable">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script  type="text/javascript">
    $(function(){
        $('#dataTable').datagrid({
            url:'{{projcfg.appurl}}/api/project/dpm/project/develop/pm/deploy',
            method:'get',
            rownumbers:false,
            striped:true,
            fitColumns:true,
            toolbar: '#toolbar',
            fit:true,
            border:true,
            singleSelect:true,
            selectOnCheck:false,
            columns:[[
                {"field":'id',checkbox:true},
                {"field": "projectCode","title":"应用编号","width":120,align:"center"},
                {"field": "projectName","title":"应用名称","width":150,align:"center"},
                {"field": "version","title":"部署版本","width":100,align:"center"},
                {"field": "clusterId","title":"运行集群","width":100,align:"center",
                    "formatter":function (value, rowData,rowIndex) {
                        return '测试集群';
                    }
                },
                {"field": "healthStatus","title":"健康状况","width":120,align:"center",
                    "formatter":function(value, rowData, rowIndex){
                        return "<span class=\"label label-success\"><a href=\"javascript:void(0);\" style=\"padding:3px 3px;color:#fff;\">正常</a></span>"
                    }},
                {"field": "resources","title":"资源使用","width":150,align:"center",
                    "formatter":function (value, rowData,rowIndex) {
                        return 'cpu:3.0<br/>内存：4GB<br/>硬盘：500GB';
                    }
                },
                {"field": "webSite","title":"部署地址","width":100,align:"center",
                    "formatter":function(value, rowData, rowIndex){
                        return "<span class=\"label label-info\" style=\"height:26px;line-height:18px;font-weight:600;\"><a target=\"_blank\" href=\"" + value + "\" style=\"padding:0 10px;color:#fff;\">访问</a></span>"
                    }
                },
//                {"field": "remark","title":"备注","width":200,align:"center"},
//                {"field": "createTime","title":"创建时间","width":200,align:"center"},
                {"field": "operation","title":"操作","width":200,align:"center",
                    "formatter":function(value, rowData, rowIndex){
                        var retvalue = "<span class=\"label label-warning\" style=\"height:26px;line-height:18px;font-weight:600;margin-top: 0.5rem;cursor: pointer;\" onclick='to_serviceDetail()'>服务详情</span>"+
                                 "<span class=\"label label-danger\" style=\"height:26px;line-height:18px;font-weight:600;margin-top: 0.5rem;margin-left: 0.5rem;cursor: pointer;\">停止</span></br>"+
                                "<span class=\"label label-info\" style='height:26px;line-height:18px;font-weight:600;cursor: pointer;margin-top: 0.5rem;margin-bottom: 0.5rem;' onclick='performsStatus()'>性能情况</span>" +
                                "<span class=\"label label-info\" style='height:26px;line-height:18px;font-weight:600;cursor: pointer;' onclick='logsCenter()'>日志</span>";
                        return retvalue;
                    }
                }
            ]],
            onLoadSuccess:function(json) {
            },
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            pagination:true,
            loadMsg:'正在加载...'
        });
    });

    function doSearch() {
        $('#dataTable').datagrid('reload');
    }
    function doClear() {
        doSearch();
    }
    // 打开页面
    function openPage(id,title, value, callback) {
        $('#'+id).show();
        $('#'+id).mydialog({
            title:title,
            width: 700,
            height: 485,
            top:100,
            modal: true,
            myButtons:[
                {
                    text:'确定',
                    btnCls:'btn btn-blue',
                    handler:function(){
                        num += 1;
                        callback(value);
                    }
                },
                {
                    text:'关闭',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        num = 1;
                        closeDialog();
                    }
                }
            ]
        });
    }
    // 清空新增表单数据
    function clear() {
        $('#projectForm').form('clear');
    }
    // 关闭窗口
    function closeDialog() {
        $('#myModal').dialog('close');
        clear();
    }

    //性能情况
    function performsStatus(){
        var url = "http://192.168.31.92:3000";
        window.open(url);
    }
    //日志中心
    function logsCenter(){
        var url = "http://192.168.31.92:5601";
        window.open(url);
    }

</script>