<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="cc" class="easyui-layout" data-options="fit:true,border:false" style="width: 800px; height:575px;background-color: #fbfbfb;">
                    <div data-options="region:'center',border:false" style="overflow-x:hidden;overflow-y:hidden">
                        <div id="toolbar" class="row tbRow" style="">
                            <div class="col-xs-12 col-md-12 text-right" style="padding-right:28px;">
                                <form id="searchFrom" class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="input" class="form-control" id="projectName" name="projectName" placeholder="项目名称">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="doSearch()"><i class="fa fa-search"></i>查询</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <table id="dataTable">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="containerLogModal" class="mydialog" style="padding-top:0px;">
    <div class="row">
        <div class="col-md-12">
            <div class="widget flat radius-bordered">
                <div class="widget-body" style="background-color: #fff;">
                    <div id="registration-form">
                        <div class="form-title bordered-bottom bordered-blue">
                            <pre style="width: 960px;height: 520px;" id="logPre">

                            </pre>
                        </div>
                        <div class="row" style="padding: 0px 20px;height: auto;">
                            <span id="ccdetail"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script  type="text/javascript">
    $(function(){
        $('#dataTable').datagrid({
            url:'{{projcfg.appurl}}/api/project/dpm/project/develop/pm/deploy',
            method:'get',
            rownumbers:false,
            striped:true,
            fitColumns:true,
            toolbar: '#toolbar',
            fit:true,
            border:true,
            singleSelect:true,
            selectOnCheck:false,
            columns:[[
                {"field":'id',checkbox:true},
                {"field": "projectCode","title":"应用编号","width":120,align:"center"},
                {"field": "projectName","title":"应用名称","width":150,align:"center"},
                {"field": "version","title":"部署版本","width":100,align:"center"},
                {"field": "clusterId","title":"运行集群","width":100,align:"center",
                    "formatter":function (value, rowData,rowIndex) {
                        return '测试集群';
                    }
                },
                {"field": "healthStatus","title":"健康状况","width":120,align:"center",
                    "formatter":function(value, rowData, rowIndex){
                        if(value == 1){
                            return "<span class=\"label label-success\"><a href=\"javascript:void(0);\" style=\"padding:3px 3px;color:#fff;\">正常</a></span>"
                        }else{
                            return "<span class=\"label label-error\"><a href=\"javascript:void(0);\" style=\"padding:3px 3px;color:#fff;\">不正常</a></span>"
                        }
                    }},
                {"field": "resources","title":"资源使用","width":150,align:"center",
                    "formatter":function(value, rowData, rowIndex){
                        return "<span style='display:block;padding-left:20px;text-align:left;'>" + value + "</span>";
                    }},
                {"field": "webSite","title":"部署地址","width":100,align:"center",
                    "formatter":function(value, rowData, rowIndex){
                        return "<span class=\"label label-info\" style=\"height:26px;line-height:18px;font-weight:600;\"><a target=\"_blank\" href=\"" + value + "\" style=\"padding:0 10px;color:#fff;\">访问</a></span>"
                    }
                },
//                {"field": "remark","title":"备注","width":200,align:"center"},
//                {"field": "createTime","title":"创建时间","width":200,align:"center"},
                {"field": "operation","title":"操作","width":200,align:"center",
                    "formatter":function(value, rowData, rowIndex){
                        var returnValue = "";
                        if(rowData.status == "1"){
                            returnValue =  "<span class=\"label label-warning\" style=\"height:26px;line-height:18px;font-weight:600;margin-top: 0.5rem;cursor: pointer;\" onclick=\"to_serviceDetail("+rowData.id+")\">服务详情</span>   "+
                                    "<span class=\"label label-danger\" style=\"height:26px;line-height:18px;font-weight:600;margin-top: 0.5rem;margin-left: 0.5rem;cursor: pointer;\" onclick=\"doStop(" + rowData.id + ")\">停止</span></br>"+
                                    "<span class=\"label label-info\" style='height:26px;line-height:18px;font-weight:600;cursor: pointer;margin-top: 0.5rem;margin-bottom: 0.5rem;' data-host='" + rowData.hostName + "' data-name='" + rowData.containerName + "' onclick=\"doNature(this)\">性能情况</span>" +
                                    "<span class=\"label label-info\" style='height:26px;line-height:18px;font-weight:600;cursor: pointer;margin-left:0.3rem;' data-id='" + rowData.id + "' data-name='" + rowData.projectName + "' onclick='logsCenter(this)'>日志</span>";
                        }else{
                            returnValue = "<span class=\"label label-danger\" style=\"height:26px;line-height:18px;font-weight:600;margin-top: 0.5rem;margin-left: 0.5rem;cursor: pointer;\" onclick=\"doStart(" + rowData.id + ")\">停止</span></br>";
                        }
                        return returnValue;
                    }
                }
            ]],
            onLoadSuccess:function(json) {
            },
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            pagination:true,
            loadMsg:'正在加载...'
        });
    });

    function doSearch() {
        $('#dataTable').datagrid('reload');
    }
    function doClear() {
        doSearch();
    }

    function doReStart(id){
        $.ajax({
            url:'{{projcfg.appurl}}/api/project/dpm/project/develop/pm/deploy/restart/' + id,
            type: 'post',
            dataType:"json",
            data:{
                time : Math.random()
            },
            success: function (data) {
                console.log("success");
                if(data){
                    $("#logPre").html(data);
                }else{
                    $("#logPre").html("选择容器还没有运行日志");
                }
            },
            error : function(err) {
                console.log(err);
                $("#logPre").html("日志加载失败：" + err.statusCode);
            }
        });
    }

    function doStop(id){

    }
    // 打开页面
    function openPage(id,title, value, callback) {
        $('#'+id).show();
        $('#'+id).mydialog({
            title:title,
            width: 700,
            height: 485,
            top:100,
            modal: true,
            myButtons:[
                {
                    text:'确定',
                    btnCls:'btn btn-blue',
                    handler:function(){
                        num += 1;
                        callback(value);
                    }
                },
                {
                    text:'关闭',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        num = 1;
                        closeDialog();
                    }
                }
            ]
        });
    }

    function to_serviceDetail(id){
        window.location.href = "{{projcfg.appurl}}/monitor?deployId="+id;
    }

    // 清空新增表单数据
    function clear() {
        $('#projectForm').form('clear');
    }
    // 关闭窗口
    function closeDialog() {
        $('#myModal').dialog('close');
        clear();
    }

    //性能情况
    function doNature(thisObj){
        var host = $(thisObj).data("host");
        var name = $(thisObj).data("name");
        window.open("http://192.168.31.92:3000/dashboard/db/dockerdan-ge-rong-qi-jian-kong?theme=light&orgId=1&var-host=" + host + "&var-container_name=" + name);
    }
    //日志中心
    function logsCenter(thisObj){
        /*var url = "http://192.168.31.92:5601";
        window.open(url);*/
        var id = $(thisObj).data("id");
        var name = $(thisObj).data("name");
        console.log(id);
        console.log(name);
        logs(id);
        $('#containerLogModal').show();
        $('#containerLogModal').mydialog({
            title:name + "-运行日志",
            width: 1000,
            height: 560,
            top:20,
            modal: true,
            myButtons:[
                {
                    text:'关闭',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        $('#containerLogModal').dialog('close');
                    }
                },{
                    text:'刷新',
                    btnCls:'btn btn-danger',
                    handler:function(){
                        $("#logPre").html("加载中...");
                        logs(id);
                    }
                }
            ]
        });
    }

    function logs(id){
        /*var interval = setInterval(function(){*/
            $("#logPre").html("加载中...");
            $.ajax({
                url:'{{projcfg.appurl}}/api/project/dpm/project/develop/pm/deploy/logs/' + id,
                type: 'get',
                dataType:"text",
                data:{
                    time : Math.random()
                },
                success: function (data) {
                    console.log("success");
                    if(data){
                        $("#logPre").html(data);
                    }else{
                        $("#logPre").html("选择容器还没有运行日志");
                    }
                },
                error : function(err) {
                    console.log(err);
                    $("#logPre").html("日志加载失败：" + err.statusCode);
                }
            });
        /*},1000);*/
        /*return interval;*/
    }

</script>