@charset "UTF-8";
html {
    font-family: 'helvetica neue', tahoma, arial, 'hiragino sans gb', 'Simsun', sans-serif
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, hr {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

a:link, a:visited {
    text-decoration: none
}

.head-v3 {
    position:absolute;
    z-index:100;
    width:70%;
    top:0;
    right:0;
}

.head-v3 .navigation-inner {
    margin: 0;
    width: 800px;
    position: relative
}

.navigation-up {
    height:45px;
}

.navigation-up .navigation-v3 {
    float: left;
}

.navigation-up .navigation-v3 ul {
    float: left
}

.navigation-up .navigation-v3 li {
    float: left;
    color: #fff;
    margin:0;
    padding:0;
    overflow: hidden;
    font: normal 20px "microsoft yahei";
    /*font: normal 16px "microsoft yahei";*/
}

.navigation-up .navigation-v3 .nav-up-selected {
    background:rgba(0,0,0,0.2)
}

.navigation-up .navigation-v3 .nav-up-selected-inpage {

}

.navigation-up .navigation-v3 li {
    padding: 0;
    margin: 0
}

.navigation-up .navigation-v3 li a {
    padding: 0 25px;
    color: #fff;
    display: inline-block;
    line-height:45px;
}

.navigation-down {
    position: absolute;
    top:44px;
    left:0;
    width:100%;
}

.navigation-down .nav-down-menu {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    opacity: 0.9;
}

.navigation-down .nav-down-menu .navigation-down-inner {
    margin:0 auto;
    width: 1200px;
    position: relative
}

.navigation-down .nav-down-menu dl {
    float: left;
    margin: 18px 40px;
    overflow: hidden;
}

.navigation-down .menu-1 dl {
    margin: 20px 30px;

}

.navigation-down .menu-1 dt,.navigation-down .menu-1 .double dt {
    color: #f1f1f1;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 18px;
    /*font-size: 14px;*/
}

.navigation-down .menu-1 dd a,.navigation-down .menu-1 .double dd a {
    color: #fff;
    line-height:40px;
    font-size:18px;
    /*font-size:14px;*/
    font-family:  "microsoft yahei";
}

.navigation-down .menu-1 dd a:hover ,.navigation-down .menu-1 .double dd a:hover{
    color: #fff
}

.navigation-down .menu-1 .double {
    margin: 20px 40px;
    width:300px;
}
.navigation-down .menu-1 .double dd{
    margin-right:10px;
    float:left;
    width:140px
}

