*.class
~*.*
*.bak
*.tmp
*.MF

/**/.classpath
/**/.mymetadata
/**/.project
/**/.settings/
/**/test-output/
/**/.apt_generated/
/**/.externalToolBuilders/
/**/target/
/**/test-output/
/**/.apt_generated/
/**/logs/
/**/src/main/webapp/META-INF/
/**/src/main/webapp/WEB-INF/classes/
/**/src/main/webapp/WEB-INF/lib/


/**/.classpath
/**/.mymetadata
/**/.project
/**/.settings/
/**/test-output/
/**/.apt_generated/
/**/.externalToolBuilders/
/**/target/
/**/test-output/
/**/.apt_generated/
/**/logs/
/**/src/main/webapp/META-INF/
/**/src/main/webapp/WEB-INF/classes/
/**/src/main/webapp/WEB-INF/lib/

/**/.idea
/**/node_modules
/**/bower_components
/**/test

/Code/**/.idea
/Code/**/node_modules
/Code/**/bower_components
/Code/**/test
/Code/**/logs
