# 定义 stages
stages:
  - build
  - test
  - deploy
  - apibuild

variables:
  LS_CMD: 'ls $FLAGS $$TMP_DIR'
  FLAGS: '-al'
  FLAGST: 'echo $CI_RUNNER_ID'
  MY_CI_REGISTRY_IMAGE: 10.201.253.197:5000/${CI_PROJECT_NAME}:$CI_BUILD_TAG
  
# 定义编译阶段
build_stages:
  stage: build
  script:
#    - docker build -t developer/developer-base:1.01 . 
    - echo $CI_BUILD_TAG
    - echo $MY_CI_REGISTRY_IMAGE
    - export
    - if [ "$CI_BUILD_TAG" ]; then docker build -t $MY_CI_REGISTRY_IMAGE .;fi
#    - if [ -n "${PUSH_TO_REGISTRY}" ]; then docker build -t $MY_CI_REGISTRY_IMAGE .;fi
 
# 定义测试阶段
test_stages:
  stage: test
  script:
    - echo "TEST"
    - echo "test stage"

# 定义部署阶段
release_image:
  stage: deploy
  script:
    - if [ "$CI_BUILD_TAG" ]; then docker push $MY_CI_REGISTRY_IMAGE ;fi
#    - if [ -n "${PUSH_TO_REGISTRY}" ]; then docker push $MY_CI_REGISTRY_IMAGE ;fi
    
    
#
# 定义部署阶段
api_build:
  stage: apibuild
  before_script:
    - if [ -n "${API_BUILD}" ]; then MY_CI_REGISTRY_IMAGE=10.201.253.197:5000/${CI_PROJECT_NAME}:${VERISON} ; fi
  script:
    - if [ -n "${API_BUILD}" ]; then docker build -t $MY_CI_REGISTRY_IMAGE .;fi
    - if [ -n "${API_BUILD}" ]; then docker push $MY_CI_REGISTRY_IMAGE ;fi
    
