.portal{
	padding:0;
	margin:0;
	border:1px solid #99BBE8;
	overflow:auto;
}
.portal-noborder{
	border:0;
}
.portal-panel{
	margin-bottom:2px;
}
.portal-column-td{
	vertical-align:top;
}	
.portal-column{
	padding:0px 0 2px 2px;
	overflow:hidden;
}
.portal-column-left{
	padding-left:0px;
}
.portal-column-right{
	padding-right:0px;
}
.portal-proxy{
	opacity:0.6;
	filter:alpha(opacity=60);
}
.portal-spacer{
	border:3px dashed #eee;
	margin-bottom:10px;
}
.red .panel-header{
	background-color: #e24e61;
	/* background: -webkit-linear-gradient(top,#ffffff 0,#F2F2F2 100%); */
	background: -moz-linear-gradient(top,#c94758 0,#e24e61 100%);
	background: -o-linear-gradient(top,#c94758 0,#e24e61 100%);
	background: linear-gradient(to bottom,#c94758 0,#e24e61 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c94758,endColorstr=#e24e61,GradientType=0);
	border-color:#c94758;
}
.yellow .panel-header{
	background-color: #E2904E;
	/* background: -webkit-linear-gradient(top,#ffffff 0,#F2F2F2 100%); */
	background: -moz-linear-gradient(top,#c98147 0,#E2904E 100%);
	background: -o-linear-gradient(top,#c98147 0,#E2904E 100%);
	background: linear-gradient(to bottom,#c98147 0,#E2904E 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c98147,endColorstr=#E2904E,GradientType=0);
	border-color:#c98147;
}
.blue .panel-header{
	background-color: #5db2ff;
	/* background: -webkit-linear-gradient(top,#ffffff 0,#F2F2F2 100%); */
	background: -moz-linear-gradient(top,#5db2ff 0,#5db2ff 100%);
	background: -o-linear-gradient(top,#5db2ff 0,#5db2ff 100%);
	background: linear-gradient(to bottom,#5db2ff 0,#5db2ff 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5db2ff,endColorstr=#5db2ff,GradientType=0);
	border-color:#5db2ff;
}
/*.green .panel-body{
	border-color:#579653 #ABCFA5 #ABCFA5 #579653
}*/
.green .panel-header{
	background-color: #a0d468;
	/* background: -webkit-linear-gradient(top,#ffffff 0,#F2F2F2 100%); */
	background: -moz-linear-gradient(top,#a0d468 0,#a0d468 100%);
	background: -o-linear-gradient(top,#a0d468 0,#a0d468 100%);
	background: linear-gradient(to bottom,#a0d468 0,#a0d468 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a0d468,endColorstr=#a0d468,GradientType=0);
	border-color:#a0d468;
}

.black .panel-header{
	background-color: #333;
	/* background: -webkit-linear-gradient(top,#ffffff 0,#F2F2F2 100%); */
	background: -moz-linear-gradient(top,#333 0,#333 100%);
	background: -o-linear-gradient(top,#333 0,#333 100%);
	background: linear-gradient(to bottom,#333 0,#333 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#333,endColorstr=#333,GradientType=0);
	border-color:#333;
}

.black .panel-header .panel-title {
	/*font-size: 1.2em;*/
	color: #fff;
	height: 16px;
	line-height: 16px;
}
.black .panel-header .panel-tool a{
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #e6e6e6;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}
.white .panel-header{
	background-color: #F2F2F2;
	/* background: -webkit-linear-gradient(top,#ffffff 0,#F2F2F2 100%); */
	background: -moz-linear-gradient(top,#F2F2F2 0,#F2F2F2 100%);
	background: -o-linear-gradient(top,#F2F2F2 0,#F2F2F2 100%);
	background: linear-gradient(to bottom,#F2F2F2 0,#F2F2F2 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2F2F2,endColorstr=#F2F2F2,GradientType=0);
	border-color:#D4D4D4;
}

.white .panel-header .panel-title {
	/*font-size: 1.2em;*/
	color: #777;
	height: 16px;
	line-height: 16px;
}
.white .panel-header .panel-tool a{
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #F2F2F2;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

.green .panel-header .panel-title {
	/*font-size: 1.2em;*/
	color: #fff;
	height: 16px;
	line-height: 16px;
}
.red .panel-header .panel-title {
	/*font-size: 1.2em;*/
	color: #fff;
	height: 16px;
	line-height: 16px;
}
.yellow .panel-header .panel-title {
	/*font-size: 1.2em;*/
	color: #fff;
	height: 16px;
	line-height: 16px;
}

.blue .panel-header .panel-title {
	/*font-size: 1.2em;*/
	color: #fff;
	height: 16px;
	line-height: 16px;
}
.blue .panel-header .panel-tool a{
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #e6e6e6;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

.red .panel-header .panel-tool a{
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #e6e6e6;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

.yellow .panel-header .panel-tool a{
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #e6e6e6;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

.green .panel-header .panel-tool a{
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #e6e6e6;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

/*.blue .panel-body {
	border:0;
}

.green .panel-body {
	border:0;
}

.yellow .panel-body {
	border:0;
}

.red .panel-body {
	border:0;
}

.white .panel-body {
	border:0;
}

.black .panel-body {
	border:0;
}*/
.noborder{
	border:0;
}
.border{
	border-color: #D4D4D4;
}

