
<link rel="stylesheet" href="{{projcfg.appurl}}/static/request/css/gengzhong-xianqin.css">

<div class="row" >
    <div class="bor" style="margin-top: -20px"></div>
    <div class="container"  id="requestList">
        <!--<div class="row" >-->
        <!--&lt;!&ndash;<div class="cont-bor">&ndash;&gt;-->
        <!--<div class="col-sm-2" style="position: relative;">-->
        <!--<div class="gz-left"></div>-->
        <!--<div class="radus"></div>-->
        <!--<div class="bor-top">-->
        <!--<div>用户管理</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-10" >-->
        <!--<table class="table table-condensed gz-top" style="margin-bottom: 2px;">-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td>请求地址：<em>http://192.168.1.1:8080:hy/login.htm</em></td>-->
        <!--<td>容器：<em>192.168.</em></td>-->
        <!--<td>请求系列：<em>http://192.168.1</em></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>服务名称：<em>用户管理 v1.2.1</em></td>-->
        <!--<td>宿主机：<em>192.168.9.61</em></td>-->
        <!--<td>返回响应：-->
        <!--<span style="display: inline;">正常</span>-->
        <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>请求时间：<em>192.168.9.61</em></td>-->
        <!--<td>耗时：<em>3s</em></td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->

        <!--<table class="table table-bordered">-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td>模块</td>-->
        <!--<td>类</td>-->
        <!--<td>方法</td>-->
        <!--<td>入参</td>-->
        <!--<td>出参</td>-->
        <!--<td>请求时间</td>-->
        <!--<td>总耗时</td>-->
        <!--<td>开发人员</td>-->
        <!--<td>最后提交时间</td>-->
        <!--<td>返回响应</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>用户管理</td>-->
        <!--<td>UserManager</td>-->
        <!--<td>query</td>-->
        <!--<td>String : ‘张三’,</td>-->
        <!--<td>String : ‘张三’,</td>-->
        <!--<td>2018/01/22 06:52:42</td>-->
        <!--<td>2s</td>-->
        <!--<td>哈哈哈哈</td>-->
        <!--<td>2018/01/22 06:52:42</td>-->
        <!--<td>-->
        <!--<span>正常</span>-->
        <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>用户管理</td>-->
        <!--<td>UserManager</td>-->
        <!--<td>query</td>-->
        <!--<td>String : ‘张三’,</td>-->
        <!--<td>String : ‘张三’,</td>-->
        <!--<td>2018/01/22 06:52:42</td>-->
        <!--<td>2s</td>-->
        <!--<td>哈哈哈哈</td>-->
        <!--<td>2018/01/22 06:52:42</td>-->
        <!--<td>-->
        <!--<span>正常</span>-->
        <!--</td>-->
        <!--</tr>-->


        <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--</div>-->
        <!--<div class="row">-->
        <!--<div class="col-sm-2" style="position: relative;">-->
        <!--<div class="gz-left"></div>-->
        <!--<div class="radus"></div>-->
        <!--<div class="bor-top">-->
        <!--<div>决策分析</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-10">-->
        <!--<table class="table table-condensed gz-top" style="margin-bottom: 2px;">-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td>请求地址：<em>http://192.168.1.1:8080:hy/login.htm</em></td>-->
        <!--<td>容器：<em>192.168.</em></td>-->
        <!--<td>请求系列：<em>http://192.168.1</em></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>服务名称：<em>用户管理 v1.2.1</em></td>-->
        <!--<td>宿主机：<em>192.168.9.61</em></td>-->
        <!--<td>返回响应：-->
        <!--<span style="display: inline;">正常</span>-->
        <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>请求时间：<em>192.168.9.61</em></td>-->
        <!--<td>耗时：<em>3s</em></td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->

        <!--<table class="table table-bordered">-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td>模块</td>-->
        <!--<td>类</td>-->
        <!--<td>方法</td>-->
        <!--<td>入参</td>-->
        <!--<td>出参</td>-->
        <!--<td>请求时间</td>-->
        <!--<td>总耗时</td>-->
        <!--<td>开发人员</td>-->
        <!--<td>最后提交时间</td>-->
        <!--<td>返回响应</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>发送消息</td>-->
        <!--<td>UserManager</td>-->
        <!--<td>query</td>-->
        <!--<td>String : ‘张三’,</td>-->
        <!--<td>String : ‘张三’,</td>-->
        <!--<td>2018/01/22 06:52:42</td>-->
        <!--<td>2s</td>-->
        <!--<td>哈哈哈哈</td>-->
        <!--<td>2018/01/22 06:52:42</td>-->
        <!--<td>-->
        <!--<span>正常</span>-->
        <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>数据分析</td>-->
        <!--<td>UserManager</td>-->
        <!--<td>query</td>-->
        <!--<td>String : ‘张三’,</td>-->
        <!--<td>String : ‘张三’,</td>-->
        <!--<td>2018/01/22 06:52:42</td>-->
        <!--<td>2s</td>-->
        <!--<td>哈哈哈哈</td>-->
        <!--<td>2018/01/22 06:52:42</td>-->
        <!--<td>-->
        <!--<span>正常</span>-->
        <!--</td>-->
        <!--</tr>-->

        <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
        <!--<div class="col-sm-2" style="position: relative;">-->
        <!--<div class="gz-left"></div>-->
        <!--<div class="radus"></div>-->
        <!--<div class="bor-top">-->
        <!--<div>数据存储</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-10">-->
        <!--<table class="table table-condensed gz-top" style="margin-bottom: 2px;">-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td>请求地址：<em>http://192.168.1.1:8080:hy/login.htm</em></td>-->
        <!--<td>容器：<em>192.168.</em></td>-->
        <!--<td>请求系列：<em>http://192.168.1</em></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>服务名称：<em>用户管理 v1.2.1</em></td>-->
        <!--<td>宿主机：<em>192.168.9.61</em></td>-->
        <!--<td>返回响应：-->
        <!--<span style="display: inline;">正常</span>-->
        <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>请求时间：<em>192.168.9.61</em></td>-->
        <!--<td>耗时：<em>3s</em></td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->

        <!--<table class="table table-bordered">-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td>模块</td>-->
        <!--<td>类</td>-->
        <!--<td>方法</td>-->
        <!--<td>入参</td>-->
        <!--<td>出参</td>-->
        <!--<td>请求时间</td>-->
        <!--<td>总耗时</td>-->
        <!--<td>开发人员</td>-->
        <!--<td>最后提交时间</td>-->
        <!--<td>返回响应</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>发送消息</td>-->
        <!--<td>UserManager</td>-->
        <!--<td>query</td>-->
        <!--<td>String : ‘张三’,</td>-->
        <!--<td>String : ‘张三’,</td>-->
        <!--<td>2018/01/22 06:52:42</td>-->
        <!--<td>2s</td>-->
        <!--<td>哈哈哈哈</td>-->
        <!--<td>2018/01/22 06:52:42</td>-->
        <!--<td>-->
        <!--<span>正常</span>-->
        <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>数据分析</td>-->
        <!--<td>UserManager</td>-->
        <!--<td>query</td>-->
        <!--<td>String : ‘张三’,</td>-->
        <!--<td>String : ‘张三’,</td>-->
        <!--<td>2018/01/22 06:52:42</td>-->
        <!--<td>2s</td>-->
        <!--<td>哈哈哈哈</td>-->
        <!--<td>2018/01/22 06:52:42</td>-->
        <!--<td>-->
        <!--<span>正常</span>-->
        <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->
        <!--</div>-->
    </div>


</div>

<script>
    var searchData = window.location.href.split("=");
    var serial_number = decodeURI(searchData[1]);

    $.ajax({
        url: '{{projcfg.appurl}}/api/project/request/requestDetail/getDetailByNumber?serial_number='+serial_number,
        type: 'get',
        success: function (data) {
            console.log("result555-----",data[0]);
            // console.log("result666-----",data[0].rows[0].module);
            var html='';
            var datalen=data[0]+1
            for(var i=1;i<datalen;i++){
                var serData=data[i];

                var item='<div class="row" >'+
                        '<div class="col-sm-2" style="position: relative;">'+
                        '<div class="gz-left"></div>'+
                        '<div class="radus"></div>'+
                        '<div class="bor-top">'+
                        '<div>'+serData.rows[0].micro_service_name+'</div>'+
                        '</div>'+
                        '</div>'+
                        '<div class="col-sm-10" >'+
                        '<table class="table table-condensed gz-top" style="margin-bottom: 2px;">'+
                        '<tbody>'+
                        '<tr>'+
                        ' <td>请求地址：<em>'+serData.rows[0].req_url+'</em></td>'+
                        '<td>容器：<em>'+serData.rows[0].container_id+'</em></td>'+
                        ' <td>请求序列：<em>'+serData.rows[0].req_serial_num+'</em></td>'+
                        ' </tr>'+
                        ' <tr>'+
                        ' <td>服务名称：<em>'+serData.rows[0].micro_service_name+'</em></td>'+
                        '<td>宿主机：<em>'+serData.rows[0].com_ip+'</em></td>'+
                        '<td>返回响应：'+
                        '  <span style="display: inline;">'+serData.rows[0].return_status+'</span>'+
                        '  </td>'+
                        '</tr>'+
                        ' <tr>'+
                        '<td>请求时间：<em>'+serData.rows[0].req_time+'</em></td>'+
                        '<td>耗时：<em>'+serData.rows[0].total_time_consuming+'</em></td>'+
                        '</tr>'+
                        ' </tbody>'+
                        ' </table>'+

                        ' <table class="table table-bordered">'+
                        '<tbody>'+
                        '<tr>'+
                        '<td>模块</td>'+
                        '<td>类</td>' +
                        ' <td>方法</td>' +
                        '<td>入参</td>' +
                        '<td>出参</td>' +
                        ' <td>请求时间</td>' +
                        '<td>总耗时</td>' +
                        ' <td>开发人员</td>' +
                        ' <td>最后提交</td>' +
                        '<td>返回响应</td>' +
                        '</tr>' ;


                for(var j=0;j<serData.total;j++){
                    var metData=serData.rows[j];
                    item+='<tr>\n' +
                            ' <td>'+metData.module+'</td>' +
                            '  <td>'+metData.req_class+'</td>' +
                            '   <td>'+metData.req_method+'</td>\n' +
                            ' <td>'+metData.in_param+'</td>' +
                            ' <td>'+metData.out_param+'</td>' +
                            '  <td>'+metData.req_time+'</td>' +
                            '   <td>'+metData.total_time_consuming+'</td>' +
                            '  <td>'+metData.dev_member+'</td>' +
                            '   <td>'+metData.code_commit+'</td>' +
                            '  <td>' +
                            '  <span>'+metData.return_status+'</span>' +
                            '  </td>' +
                            '  </tr>';
                }

                item+= '  </tbody>' +
                        '</table>' +
                        ' </div>' +
                        ' </div>'

                console.log("@@@@$$$$"+item);

                html+=item;
            }
            $('#requestList').append(html);
        }
    });
</script>