<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div class="alert alert-warning alert-dismissable">
                    <h4>
                        注意！
                    </h4>
                    <strong>{{message}}</strong>
                </div>
            </div>
        </div>
    </div>
</div>
