.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #ecf4ff;
    border-radius: 5px 5px 0 0;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: #4186f6;
    font-size: 18px;
}

.btn-primary {
    color: #fff;
    background-color: #4186f6;
    border-color: #4186f6;

}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #3766cc;
    border-color: #3766cc;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3766cc;
    border-color: #3766cc;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3766cc;
    border-color: #3766cc;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #3766cc;
    border-color: #3766cc;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary .badge {
    color: #337ab7;
    background-color: #fff;
}

.modal-dialog1 {
    width: 845px;
    margin: 30px auto;
}

.modal-body1 {
    position: relative;
    padding: 30px;
}

.modal-dialog2 {
    width: 450px;
    margin: 150px auto;
}



.soft-content {
    width: 830px;
    margin-left: 30px;
    color: #828282;
}

.soft-content h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
}

.soft-content p.content {
    text-align: justify;
    line-height: 20px;
    margin-bottom: 30px;
}
.soft-content p.contentf {
    text-align: justify;
    line-height: 25px;
    margin-bottom: 30px;
    font-size: 15px;
}

.soft-content section {
    margin: 15px;

}

.soft-content section h3 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
}

.scal-img h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.impot {
    margin-bottom: 15px;
}

.impot span {
    width: 113px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fbfbfb;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    display: inline-block;
    float: left;
    border-right: 0;
    text-align: center;
}

.impot input[type=text] {
    width: 668px;
    float: left;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
}

.impot1 span {
    width: 781px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fbfbfb;
    border: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
    display: inline-block;
}

.impot1 textarea {
    width: 781px;
    height: 80px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    border-top: 0;
    resize: none;
}

.scal-img {
    width: 830px;
    margin-left: 250px;
}


#mask{
	position: fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	z-index:99999;
	display:none;
}
.cover{
	background:#000;
	opacity:0.6;
	width:100%;
	height:100%;
}

.progress {
    position: absolute;
    height: 20px;
    top: 50%;
    left: 20%;
    width: 60%;
}

.indicatorContainer{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}

#mask .msg{
	position: absolute;
	width:100px;
	top:50%;
	margin-top:60px;
	left:50%;
	margin-left:-45px;
	height:20px;
	line-height:20px;
	color: white;
    text-align: center;
}

.attach{
	
}