
ul{padding: 0;margin: 0;}
li{list-style: none;}
.clear:after{content: " ";display: block;clear: both;height: 0;visibility: hidden;}
.valign{text-align:center;}
.valign:after{content:"";display:inline-block;vertical-align:middle;width:0px;height:100%;}

.zhilian{
    height:70px;width:100%;
    font:18px/50px "";
    color: #fff;
    border-bottom: 1px solid #2d2d2d;
    padding:10px;
    /*margin-bottom:10px;*/

}
.zhilian-top{float: left;}
.zhilian-top-right{float: right;}
.top-btn{
    margin:0 20px;
    background:#2D2D2D;
    padding:5px 30px;
    font-size:14px;
    cursor: pointer;
}
.select-top{
    margin:0 20px;
    background:#2d2d2d;
    padding:3px 10px;
    font-size:14px;
    cursor: pointer;
}
.top-btn:hover{background:#454544;color:#fff;}

.jiankan-content{height: 200px; color:#fff;}
.jiankan-content-left{
    float: left;
    width: 600px;
    height: inherit;
    padding-left: 10px;
    margin-top: 15px;
}
.jk-title{
    height:60px;
    font:20px/50px "";

}
.jk-jinxiang{
    height:50px;
    font:16px/50px "";
}
.jk-jinxiang>span{font-size:20px;}

.jiankan-content-right{
    float: right;
    width: 300px;
    height: inherit;
    /*text-align: center;*/
    line-height: 150px;
}
.right-img{
    display: inline-block;
    width:100px;height:100px;
    /*background: #008000;*/
   border-radius:50%;
    vertical-align:middle;

}
.right-name{
    display: inline-block;
    font-size: 36px;
    vertical-align: middle;
    margin:0 20%;
}

.table>tbody>tr>td{color: #fff;text-align: center;}
.table>tbody>tr>td>span{
    /*background:#008000;*/
    display: inline-block;
    width: 25%;
    height:18px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;

}
.table>tbody>tr>td>a{color: #fff;}



























