<div class="main-wrap">
    <div class="container-fluid">
        <!-- START EDIT CONTENT -->
        <div class="row">
            <div class="col-lg-12 m-t-2">

                <!-- START ROW -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">

                            <div id="panelBody" class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div>
                                                <form id="colonyForm" class="form-horizontal form-bordered" role="form" method="post" enctype="multipart/form-data">
                                                    <input type="hidden" id="id" name="id"/>
                                                    <div class="form-group">
                                                        <label for="tactics_name" class="col-sm-2 control-label no-padding-right" style="width: 21%">策略名称:</label>
                                                        <div class="col-sm-10" style="width: 79%">
                                                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" name="tactics_name" id="tactics_name" placeholder="策略名称" style="width:60%">
                                                        </div>
                                                    </div>
                                                    <!--<div class="form-group">-->
                                                        <!--<label for="gather_value" class="col-sm-2 control-label no-padding-right">采集值:</label>-->
                                                        <!--<div class="col-sm-10" style="width: 79%">-->
                                                            <!--<select  class="easyui-combobox" data-options="required:true,editable:false,panelHeight:50" style="width:70px;height:34px;" name="gather_value" id="gather_value" value="流量">-->
                                                                <!--<option value="CPU">CPU</option>-->
                                                                <!--<option value="内存">内存</option>-->
                                                                <!--<option value="流量">流量</option>-->
                                                            <!--</select>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                    <div class="form-group">
                                                        <label for="gather_value" class="col-sm-2 control-label no-padding-right" style="width: 21%">采集值:</label>
                                                        <div class="col-sm-10" style="width: 79%">
                                                            <select  class="easyui-combobox" data-options="required:true,editable:false,panelHeight:50" style="width:70px;height:34px;" name="gather_value" id="gather_value" value="CPU">
                                                                <option value="CPU">CPU</option>
                                                                <option value="内存">内存</option>
                                                                <option value="流量">流量</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="duration" class="col-sm-2 control-label no-padding-right" style="width: 21%">持续时间:</label>
                                                        <div class="col-sm-10" style="width: 79%">
                                                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" name="duration" id="duration" placeholder="请输入持续时间(分钟)" style="width:60%">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="operation" class="col-sm-2 control-label no-padding-right" style="width: 21%">操作符:</label>
                                                        <div class="col-sm-10" style="width: 79%">
                                                            <select  class="easyui-combobox" data-options="required:true,editable:false,panelHeight:50" style="width:70px;height:34px;" name="operation" id="operation" value="大于">
                                                                <option value="大于">大于&gt;</option>
                                                                <option value="等于">等于=</option>
                                                                <option value="小于">小于&lt;</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="target_value" class="col-sm-2 control-label no-padding-right" style="width: 21%">目标值:</label>
                                                        <div class="col-sm-10" style="width: 79%">
                                                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" name="target_value" id="target_value" placeholder="请输入目标值" style="width:60%">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="tactics_count" class="col-sm-2 control-label no-padding-right" style="width: 21%">次数:</label>
                                                        <div class="col-sm-10" style="width: 79%">
                                                            <input type="text" class="easyui-validatebox form-control" data-options="required:true" name="tactics_count" id="tactics_count" placeholder="请输入次数" style="width:60%">
                                                        </div>
                                                    </div>
                                                    <!--<div class="form-group">-->
                                                        <!--<label for="resource_remark" class="col-sm-2 control-label no-padding-right" style="width: 21%">备注:</label>-->
                                                        <!--<div class="col-sm-10" style="width: 79%">-->
                                                            <!--<input type="text" class="easyui-validatebox form-control" data-options="required:true" name="resource_remark" id="resource_remark" placeholder="请输入备注" style="width:60%">-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                </form>
                                                <div style="text-align:center;padding:5px">
                                                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="doAdd()">提交</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                        </div>
                    </div>
                </div>
                <!-- END ROW -->

            </div>
        </div>
        <!-- END EDIT CONTENT -->

    </div>

</div>

<!-- START Layout Options (Right Side) -->
<div class="layout-options">
    <button type="button" class="btn btn-primary action-toggle-layout-options" data-toggle="tooltip" data-placement="left" title="Show/Hide Layout settings"><i class="fa fa-gear"></i></button>
    <button type="button" class="btn btn-primary action-toggle-layout-options disabled" data-toggle="tooltip" data-placement="left" title="Layout settings disabled on this page"><i class="fa fa-gear"></i></button>

    <div class="panel panel-default">

        <div class="panel-body">
            <!-- START Tabs: Options | Skins -->
            <ul class="nav nav-tabs nav-justified tab-color-panel-bg">
                <li role="presentation" class="active">
                    <a aria-expanded="true" data-toggle="tab" href="#tab-options" role="tab">Options</a>
                </li>
                <li role="presentation">
                    <a aria-expanded="true" data-toggle="tab" href="#tab-skins" role="tab">Skins</a>
                </li>
            </ul>
            <!-- END Tabs: Options | Skins -->

            <!-- START Tabs Content: Options & Skins -->
            <div class="tab-content p-t-2">
                <!-- START Tab Options -->
                <div class="tab-pane fade in active p-r-1" id="tab-options" role="tabpanel">
                    <!-- START: Navbar options v2-->


                    <p class="small text-uppercase"><strong>Navbar Options</strong></p>

                    <label class="checkbox-inline">
                        <input type="checkbox" id="layout-navbar-enabled" class="group-switch" checked="checked" data-target-body-class="navbar-disabled" data-direction="disabled"> Show/Hide
                    </label>

                    <label class="checkbox-inline">
                        <input type="checkbox" id="layout-navbar-fixed" data-target-body-class="navbar-fixed" data-direction="enabled"> Fixed
                    </label>


                    <!-- END: Navbar options v2-->

                    <!-- START: SubNavbar options -->
                    <div class="input-group">
                        <p class="small text-uppercase m-t-2">
                            <strong>Header Layout</strong>
                        </p>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="layout-subnavbar-enabled" class="group-switch" checked="checked" data-target-body-class="sub-navbar-disabled" data-direction="disabled"> Show/Hide
                            </label>
                        </div>
                    </div>
                    <select class="form-control m-b-1" id="layout-subnavbar-style">
                        <option selected="selected" value="">Header 1</option>
                        <option value="sub-navbar-header-only">Header 2</option>
                    </select>
                    <!-- END: SubNavbar options -->

                    <!-- START: Sidebar options -->
                    <div class="input-group">

                        <p class="small text-uppercase m-t-2"><strong>Sidebar Options</strong></p>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="layout-sidebar-enabled" class="group-switch" checked="checked" data-target-body-class="sidebar-disabled" data-direction="disabled"> Show/Hide
                            </label>
                        </div>

                        <select class="form-control" id="layout-sidebar-style">
                            <option selected="selected" value="">Default Sidebar</option>
                            <option value="sidebar-slim">Slim Sidebar</option>
                            <option value="sidebar-big-icons">Big Icons Sidebar</option>
                            <option value="sidebar-big-icons sidebar-with-avatar">Big Icons with Avatar</option>
                        </select>

                        <div class="input-group p-t-1">
                            <label for="layout-sidebar-fixed" class="checkbox-inline">
                                <input type="checkbox" id="layout-sidebar-fixed" data-target-body-class="sidebar-fixed" data-direction="enabled"> Fixed
                            </label>

                            <label for="layout-sidebar-full-height" class="checkbox-inline">
                                <input type="checkbox" id="layout-sidebar-full-height" data-target-body-class="sidebar-full-height" data-direction="enabled"> Aside
                            </label>
                        </div>

                    </div>
                    <!-- END: Sidebar options -->

                    <!-- START: Content View -->
                    <p class="small text-uppercase m-t-2"><strong>Content View</strong></p>
                    <select class="form-control" id="layout-content-view">
                        <option selected="selected" value="container">Container</option>
                        <option value="container-fluid">Container Fluid</option>
                        <option value="boxed-layout">Boxed</option>
                    </select>
                    <!-- END: Content View -->

                    <!-- START: Footer Options -->
                    <div class="input-group">
                        <p class="small text-uppercase m-t-3"><strong>Footer Options</strong></p>

                        <label for="layout-footer-enabled" class="checkbox-inline">
                            <input type="checkbox" id="layout-footer-enabled" class="group-switch" checked="checked" data-target-body-class="footer-disabled" data-direction="disabled"> Show/Hide
                        </label>

                        <label for="layout-footer-fixed" class="checkbox-inline">
                            <input type="checkbox" id="layout-footer-fixed" data-target-body-class="footer-fixed" data-direction="enabled"> Fixed
                        </label>
                    </div>
                    <!-- END: Footer Options -->
                </div>
                <!-- END Tab Options -->

                <!-- START Tab Skins -->
                <div class="tab-pane fade in p-r-1" id="tab-skins" role="tabpanel">
                    <p class="small text-uppercase"><strong>Main Color</strong></p>

                    <div class="radio">
                        <label>
                            <input type="radio" name="mainColor" id="main-color-primary" value="primary" checked="checked">
                            Primary
                        </label>
                        <i class="fa fa-circle pull-right text-primary"></i>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="mainColor" id="main-color-info" value="info">
                            Info
                        </label>
                        <i class="fa fa-circle pull-right text-info"></i>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="mainColor" id="main-color-success" value="success">
                            Success
                        </label>
                        <i class="fa fa-circle pull-right text-success"></i>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="mainColor" id="main-color-warning" value="warning">
                            Warning
                        </label>
                        <i class="fa fa-circle pull-right text-warning"></i>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="mainColor" id="main-color-danger" value="danger">
                            Danger
                        </label>
                        <i class="fa fa-circle pull-right text-danger"></i>
                    </div>

                    <!-- Single button -->
                    <!--          <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-circle text-primary"></i> Primary <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                <li class="active"><a href="#"><i class="fa fa-circle text-primary"></i> Primary </a></li>
                <li><a href="#"><i class="fa fa-circle text-info"></i> Info </a></li>
                <li><a href="#"><i class="fa fa-circle text-success"></i> Success </a></li>
                <li><a href="#"><i class="fa fa-circle text-warning"></i> Warning </a></li>
                <li><a href="#"><i class="fa fa-circle text-danger"></i> Danger </a></li>
                <li><a href="#"><i class="fa fa-circle text-soft-purple"></i> Soft Purple </a></li>
                <li><a href="#"><i class="fa fa-circle text-lighting-yellow"></i> Lighting Yellow </a></li>
                </ul>
                </div>-->

                    <p class="small text-uppercase m-t-2"><strong>Navbar</strong></p>

                    <div class="radio">
                        <label>
                            <input type="radio" name="navbarStyle" id="navbar-style-dark" value="inverse" checked="checked">
                            Dark
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="navbarStyle" id="navbar-style-light" value="default">
                            Light
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="navbarStyle" id="navbar-style-color" value="color">
                            Like Main Color
                        </label>
                    </div>

                    <p class="small text-uppercase m-t-2"><strong>Sidebar</strong></p>
                    <div class="radio">
                        <label>
                            <input type="radio" name="sidebarStyle" id="sidebar-style-dark" value="dark" checked="checked">
                            Dark
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="sidebarStyle" id="sidebar-style-light" value="light">
                            Light
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="sidebarStyle" id="sidebar-style-color" value="color">
                            Like Main Color
                        </label>
                    </div>
                </div>
                <!-- END Tab Skins -->

            </div>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-default btn-block action-reset-layout-options">Reset Options</button>
        </div>
    </div>
</div>
<!-- END Layout Options (Right Side) -->
<script type="text/javascript">
    var appid;
    var microServiceId;
    $(function(){
        appid = getQueryString('appid');
        microServiceId = getQueryString('microServiceId');
        if(!appid){
            appid = 1;
        }

    });

function doAdd() {

    $.ajax({
        url: '{{projcfg.appurl}}/api/project/operation/elasticExpansion/microServices',
        type: 'put',
        data: {
            app_id: appid,
            micro_service_id: microServiceId,
            tactics_name: $("#tactics_name").val(),
            gather_value: $("#gather_value").val(),
            duration: $("#duration").val(),
            target_value: $("#target_value").val(),
            operation: $("#operation").val(),
            tactics_count: $("#tactics_count").val(),
            status:"0"
},
    success: function (data) {
        if (data.success) {
            elastic();
        }
        else {
            console.log(data);
            //msgError(data.msg+',错误代码:'+data.code);
        }
    },
    error: function (error) {
        console.log(error);
    }
});
}

function elastic(){
    location.href = "{{projcfg.appurl}}/elasticExpansion?microserviceid="+microServiceId;
}


function getQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]); return null;
}
</script>