<style>
    .deploy-state{
        height: 3px;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    .deploy-antime
    {
        background: #78fd9a;
        position:absolute;
        width: 100%;
        height: 3px;
        z-index: 1;
        top: 0;
        animation:myfirst 1s linear forwards;
        /* Firefox: */
        -moz-animation:myfirst 1s linear forwards;
        /* Safari and Chrome: */
        -webkit-animation:myfirst 1s linear forwards;
    }

    @keyframes myfirst
    {
        0%   {left:-100%}
        100% {left:0}
    }

    @-moz-keyframes myfirst /* Firefox */
    {
        0%   {left:-100%}
        100% {left:0}
    }

    @-webkit-keyframes myfirst /* Safari and Chrome */
    {
        0%   {left:-100%}
        100% {left:0}
    }
    .d-cancel
    {
        background: #cb3e4b;
        position:absolute;
        width: 100%;
        height: 3px;
        z-index: 1;
        top: 0;
        animation:cancel 2s linear forwards;
        /* Firefox: */
        -moz-animation:cancel 2s linear forwards;
        /* Safari and Chrome: */
        -webkit-animation:cancel 2s linear forwards;
    }

    @keyframes cancel
    {
        0%   {left:0}
        100% {left:-100%}
    }

    @-moz-keyframes cancel /* Firefox */
    {
        0%   {left:0}
        100% {left:-100%}
    }

    @-webkit-keyframes cancel /* Safari and Chrome */
    {
        0%   {left:0}
        100% {left:-100%}
    }
    .d-step-1{

    }
    .d-step-2{
        display: none;
    }
    .d-step-3{
        display: none;
    }
    .bg-danger{
        background-color: #2dc3e8;
    }
</style>

<script>
    let num=1;
    $(document).ready(function () {

        $('.next-deploy,.all-deploy').click(function () {

            if(num==2){

                    $('.deploy-state div:eq(1)').removeClass('d-cancel').addClass('deploy-antime');

            }
            if(num==1){

                    $('.deploy-state div:eq(0)').removeClass('d-cancel').addClass('deploy-antime');

            }if(num==3){

                    $('.deploy-state div:eq(2)').removeClass('d-cancel').addClass('deploy-antime');

            }
            if(num==4){

                $('.d-step-2').hide();
                $('.d-step-3').show();
                num=0;
            }
            num+=1;


        });


        $('.deploy-cancel').click(function () {
            $('.deploy-state div').removeClass('deploy-antime').addClass('d-cancel');
        });
        $('#next-step').click(function () {
            $('.d-step-1').hide();
            $('.d-step-2').show();
        });
        $('.all-deploy').click(function () {
            $('.d-step-2').hide();
            $('.d-step-3').show();
        });
    })
</script>

<div class="container-fluid">

    <!-- START EDIT CONTENT -->
    <div class="row">
        <div class="col-lg-12 m-t-2">

            <!-- START ROW -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h3 class="panel-title">灰度蓝绿部署</h3>
                                </div>
                                <div class="col-xs-2 pull-right">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <span class="input-group-btn">
                                                    <button class="btn btn-sm btn-primary" type="button"><i class="fa fa-search"></i></button>
                                                </span>
                                    </div>
                                    <!-- /input-group -->
                                </div>
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        全部 <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript: void(0)"><i class="fa fa-fw text-gray-lighter fa-play-circle m-r-1" style="color:#0ac883;"></i>运行中</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="javascript: void(0)"><i class="fa fa-fw text-gray-lighter fa-circle m-r-1" style="color: #cb3e4b;"></i>故障</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                            <div class="row m-b-0">
                                <div class="col-lg-4 col-md-2 col-xs-5 col-sm-4 m-b-0">
                                    <div class="hr-text hr-text-left m-t-0 m-b-0">
                                        <h6><strong class="text-white">项目名称</strong></h6>
                                    </div>
                                    <h1 class="f-w-300 m-t-0 hidden-md hidden-sm hidden-xs">贵州移动雅典娜平台</h1>
                                </div>

                                <div class="col-lg-4 col-md-3 col-xs-7 col-sm-8 m-b-1">
                                    <div class="hr-text hr-text-left m-t-0 m-b-0">
                                        <h6><strong class="text-white">镜像</strong></h6>
                                    </div>
                                    <h1 class="f-w-300 m-t-0 m-b-0 hidden-md hidden-sm hidden-xs">
                                        117.187.12.236:15000/develop-base:v1.4.4
                                    </h1>
                                </div>

                                <div class="col-lg-4 col-md-3 col-xs-12 col-sm-12 m-b-1">
                                    <div class="hr-text hr-text-left m-t-0 m-b-0">
                                        <h6><strong class="text-white">外网地址</strong></h6>
                                    </div>
                                    <h1 class="f-w-300 m-t-0 m-b-0 hidden-md hidden-sm hidden-xs">117.187.12.236:10003</h1>
                                </div>
                            </div>
                            <div class="row m-t-3 m-l-2 m-r-2">
                                <div class="panel panel-default bg-gray-dark b-a-0">
                                    <div class="panel-heading"><h4 class="f-w-300 m-t-0 m-b-0">正式版本更新</h4></div>
                                    <div class="panel-body d-step-1">
                                        <div class="row " style="margin:0 auto;width:900px;height: 84px; position: relative;">
                                            <i style="background: #5c5c5c;position: absolute; z-index: 0;width: 100%;height: 1px;top:42px;left: 0;"></i>
                                            <div class="col-lg-4 p-a-0">
                                                <div class="avatar avatar-lg avatar-text visible-lg-inline-block bg-primary text-white">
                                                    <i class="fa fa-television fa-2x m-t-2"></i><h5 class="f-w-300 m-t-0">版本设置</h5>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="avatar avatar-lg avatar-text visible-lg-inline-block bg-gray-lighter text-white" style="margin-left: 100px;">
                                                    <i class="fa fa-code fa-2x m-t-2"></i><h5 class="f-w-300 m-t-0 text-white">蓝绿部署</h5>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 p-a-0">
                                                <div class="avatar avatar-lg avatar-text visible-lg-inline-block bg-gray-lighter text-white" style="float: right;">
                                                    <i class="fa fa-file-text-o fa-2x m-t-2"></i><h5 class="f-w-300 m-t-0 text-white">版本更新</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-t-3 m-l-2 m-r-2">
                                            <div class="col-lg-5 col-md-4 col-sm-4">
                                                <div class="panel panel-default b-a-0 bg-gray b-t-primary b-t-2">
                                                    <div class="panel-heading">现行版本</div>
                                                    <div class="panel-body">
                                                        <h2 class="m-t-0 f-w-300">项目名称：贵州移动DEVOPS</h2>
                                                        <table class="table dataTable no-footer table-striped table-bordered text-white">
                                                            <tbody>
                                                            <tr>
                                                                <td>项目编号</td>
                                                                <td>develop-base</td>
                                                            </tr>
                                                            <tr>
                                                                <td>镜像名称</td>
                                                                <td>http://192.168.9.47:5000/develop-base:v1.4.2</td>
                                                            </tr>
                                                            <tr>
                                                                <td>运行版本</td>
                                                                <td>v1.4.2</td>
                                                            </tr>
                                                            <tr>
                                                                <td>已运行时间</td>
                                                                <td>20天3小时5分</td>
                                                            </tr>
                                                            <tr>
                                                                <td>访问地址</td>
                                                                <td>192.168.9.61:10003</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-4 col-sm-4">
                                                <div class="panel panel-default b-a-0 bg-gray-dark">
                                                    <div class="panel-body p-t-3">
                                                        <h1 style="text-align: center;" class="m-t-3"><i class="fa fa-arrow-right text-success"></i></h1>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-4 col-sm-4">
                                                <div class="panel panel-default b-a-0 bg-gray b-t-success b-t-2">
                                                    <div class="panel-heading">部署版本</div>
                                                    <div class="panel-body">
                                                        <h2 class="m-t-0 f-w-300">项目名称：贵州移动DEVOPS</h2>
                                                        <table class="table dataTable no-footer table-striped table-bordered text-white">
                                                            <tbody>
                                                            <tr>
                                                                <td>项目编号</td>
                                                                <td>develop-base</td>
                                                            </tr>
                                                            <tr>
                                                                <td>镜像名称</td>
                                                                <td>http://192.168.9.47:5000/develop-base:v1.4.2</td>
                                                            </tr>
                                                            <tr>
                                                                <td>运行版本</td>
                                                                <td>
                                                                    <select class="selectpicker" data-style="btn-primary">
                                                                        <option>V1.3.9</option>
                                                                        <option>V1.4.0</option>
                                                                        <option>V1.4.1</option>
                                                                        <option>V1.4.2</option>
                                                                        <option>V1.4.3</option>
                                                                        <option>V1.4.4</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                                <td></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-t-3">
                                            <div class="col-lg-5"></div>
                                            <div class="col-lg-2">
                                                <button type="button" class="btn btn-primary btn-lg btn-block" id="next-step"><h4 class="m-t-0 m-b-0">下一步 <i class="fa fa-arrow-circle-o-right"></i></h4></button>
                                            </div>
                                            <div class="col-lg-5"></div>
                                        </div>
                                    </div>
                                    <div class="panel-body d-step-2">
                                        <div class="row " style="margin:0 auto;width:900px;height: 84px; position: relative;">
                                            <i style="background: #5c5c5c;position: absolute; z-index: 0;width: 100%;height: 1px;top:42px;left: 0;"></i>
                                            <div class="col-lg-4 p-a-0">
                                                <div class="avatar avatar-lg avatar-text visible-lg-inline-block bg-primary text-white">
                                                    <i class="fa fa-television fa-2x m-t-2"></i><h5 class="f-w-300 m-t-0">版本设置</h5>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="avatar avatar-lg avatar-text visible-lg-inline-block bg-primary text-white" style="margin-left: 100px;">
                                                    <i class="fa fa-code fa-2x m-t-2"></i><h5 class="f-w-300 m-t-0 text-white">蓝绿部署</h5>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 p-a-0">
                                                <div class="avatar avatar-lg avatar-text visible-lg-inline-block bg-gray-lighter text-white" style="float: right;">
                                                    <i class="fa fa-file-text-o fa-2x m-t-2"></i><h5 class="f-w-300 m-t-0 text-white">版本更新</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-t-3 m-l-2 m-r-2">
                                            <div class="row">
                                                <h3 class="f-w-300 text-white m-t-2">部署进度</h3>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                        45%
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row bg-gray p-t-1 p-b-1">
                                                <div class="col-lg-4">
                                                    <h3 class="f-w-300 m-t-0 m-b-0"> 预计部署完成时间: 1小时23分钟</h3>
                                                </div>
                                                <div class="col-lg-4" style="text-align: center;padding-top:8px;">
                                                    <span class="text-white"><i class="fa fa-fw fa-circle text-primary"></i> 未部署</span>
                                                    <span class="text-white"><i class="fa fa-fw fa-circle text-success"></i> 已部署</span>
                                                </div>
                                                <div class="col-lg-4 text-right">
                                                    <button type="button" class="btn btn-cerulean next-deploy"><i class="fa fa-arrow-circle-o-down"></i> 下一节点部署</button>
                                                    <button type="button" class="btn btn-endaveour all-deploy"><i class="fa fa-list"></i> 全局部署</button>
                                                    <button type="button" class="btn btn-minsk deploy-cancel"><i class="fa fa-arrow-circle-o-left"></i> 回滚</button>
                                                </div>

                                            </div>
                                            <div class="row m-t-1">
                                                <div class="timeline">
                                                    <div class="timeline-item p-r-1 m-b-0">
                                                        <!-- Timeline - Mini Icon -->
                                                        <div class="timeline-item-head clearfix m-b-0 p-b-0" style="border-bottom: none">
                                                            <div class="row m-l-2 ">
                                                                <table class="table dataTable no-footer table-striped table-bordered text-white">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="col-md-2">容器名称</td>
                                                                        <td class="col-md-2">所属项目</td>
                                                                        <td class="col-md-2">运行环境</td>
                                                                        <td class="col-md-1">状态</td>
                                                                        <td class="col-md-1">流量情况</td>
                                                                        <td class="col-md-2">所属镜像</td>
                                                                        <td class="col-md-1">健康检查</td>
                                                                        <td class="col-md-1">操作</td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Timeline - Badge Date -->
                                                    <div class="timeline-date">
                                                        <span class="badge">微服务名称：决策分析</span>
                                                    </div>

                                                    <div class="timeline-item p-r-1">
                                                        <!-- Timeline - Mini Icon -->
                                                        <div class="timeline-icon">
                                                            <i class="fa fa-circle-o text-info"></i>
                                                        </div>
                                                        <div class="timeline-item-head clearfix m-b-0">
                                                            <div class="row m-l-2">
                                                                <table class="table m-b-0  table-striped table-bordered text-white">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="col-md-2 v-a-m">ywcj-docker-web1</td>
                                                                        <td class="col-md-2 v-a-m">develop-base</td>
                                                                        <td class="col-md-2 v-a-m">虚拟机：192.168.9.62</td>
                                                                        <td class="col-md-1 v-a-m"><i class="fa fa-play-circle text-success"></i> 运行中</td>
                                                                        <td class="col-md-1 v-a-m">26/s</td>
                                                                        <td class="col-md-2 v-a-m">develop-base:v1.4.3</td>
                                                                        <td class="col-md-1 v-a-m"><i class="fa fa-check-square text-success"></i> 正常</td>
                                                                        <td class="col-md-1 v-a-m">
                                                                            <div class="btn-group">
                                                                                <button class="btn btn-default btn-sm"><i class="fa fa-random"></i> 导流</button>
                                                                                <button class="btn btn-default btn-sm"><i class="fa fa-file-text-o"></i> 日志</button>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div class="deploy-state bg-danger">
                                                                    <div></div>
                                                                </div>
                                                            </div>
                                                            <!-- END Avatar, Message & Time -->

                                                        </div>
                                                    </div>
                                                    <div class="timeline-item p-r-1">
                                                        <!-- Timeline - Mini Icon -->
                                                        <div class="timeline-icon">
                                                            <i class="fa fa-circle-o text-info"></i>
                                                        </div>
                                                        <div class="timeline-item-head clearfix m-b-0">
                                                            <div class="row m-l-2">
                                                                <table class="table m-b-0 table-striped table-bordered text-white">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="col-md-2 v-a-m">ywcj-docker-web1</td>
                                                                        <td class="col-md-2 v-a-m">develop-base</td>
                                                                        <td class="col-md-2 v-a-m">虚拟机：192.168.9.62</td>
                                                                        <td class="col-md-1 v-a-m"><i class="fa fa-pause-circle text-danger"></i> 停止</td>
                                                                        <td class="col-md-1 v-a-m">26/s</td>
                                                                        <td class="col-md-2 v-a-m">develop-base:v1.4.3</td>
                                                                        <td class="col-md-1 v-a-m"><i class="fa fa-check-square text-success"></i> 正常</td>
                                                                        <td class="col-md-1 v-a-m">
                                                                            <div class="btn-group">
                                                                                <button class="btn btn-default btn-sm"><i class="fa fa-random"></i> 导流</button>
                                                                                <button class="btn btn-default btn-sm"><i class="fa fa-file-text-o"></i> 日志</button>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div class="deploy-state bg-danger"><div></div></div>
                                                            </div>
                                                            <!-- END Avatar, Message & Time -->
                                                        </div>
                                                    </div>
                                                    <div class="timeline-item p-r-1">
                                                        <!-- Timeline - Mini Icon -->
                                                        <div class="timeline-icon">
                                                            <i class="fa fa-circle-o text-info"></i>
                                                        </div>
                                                        <div class="timeline-item-head clearfix m-b-0">
                                                            <div class="row m-l-2">
                                                                <table class="table m-b-0 table-striped table-bordered text-white">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="col-md-2 v-a-m">ywcj-docker-web1</td>
                                                                        <td class="col-md-2 v-a-m">develop-base</td>
                                                                        <td class="col-md-2 v-a-m">虚拟机：192.168.9.62</td>
                                                                        <td class="col-md-1 v-a-m"><i class="fa fa-pause-circle text-danger"></i> 停止</td>
                                                                        <td class="col-md-1 v-a-m">26/s</td>
                                                                        <td class="col-md-2 v-a-m">develop-base:v1.4.3</td>
                                                                        <td class="col-md-1 v-a-m"><i class="fa fa-ambulance text-danger"></i> 故障</td>
                                                                        <td class="col-md-1 v-a-m">
                                                                            <div class="btn-group">
                                                                                <button class="btn btn-default btn-sm"><i class="fa fa-random"></i> 导流</button>
                                                                                <button class="btn btn-default btn-sm"><i class="fa fa-file-text-o"></i> 日志</button>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div class="deploy-state bg-danger"><div></div></div>
                                                            </div>
                                                            <!-- END Avatar, Message & Time -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-t-3 m-l-1 m-r-1 m-b-0">
                                                    <table class="table table-hover table-condensed bg-gray">
                                                        <tbody>
                                                        <tr>
                                                            <td>[2017-08-21 02:54:21.597] [INFO] console - 修改负责均衡</td>
                                                        </tr>
                                                        <tr>
                                                            <td>[2017-08-21 02:54:21.597] [INFO] console - 修改负责均衡</td>
                                                        </tr>
                                                        <tr>
                                                            <td>[2017-08-21 02:54:21.597] [INFO] console - 修改负责均衡</td>
                                                        </tr>
                                                        <tr>
                                                            <td>[2017-08-21 02:54:21.597] [INFO] console - 修改负责均衡</td>
                                                        </tr>
                                                        <tr>
                                                            <td>[2017-08-21 02:54:21.597] [INFO] console - 修改负责均衡</td>
                                                        </tr>
                                                        <tr>
                                                            <td>[2017-08-21 02:54:21.597] [INFO] console - 修改负责均衡</td>
                                                        </tr>
                                                        <tr>
                                                            <td>[2017-08-21 02:54:21.597] [INFO] console - 修改负责均衡</td>
                                                        </tr>
                                                        <tr>
                                                            <td>[2017-08-21 02:54:21.597] [INFO] console - 修改负责均衡</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body d-step-3">
                                        <div class="row " style="margin:0 auto;width:900px;height: 84px; position: relative;">
                                            <i style="background: #5c5c5c;position: absolute; z-index: 0;width: 100%;height: 1px;top:42px;left: 0;"></i>
                                            <div class="col-lg-4 p-a-0">
                                                <div class="avatar avatar-lg avatar-text visible-lg-inline-block bg-primary text-white">
                                                    <i class="fa fa-television fa-2x m-t-2"></i><h5 class="f-w-300 m-t-0">版本设置</h5>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="avatar avatar-lg avatar-text visible-lg-inline-block bg-primary text-white" style="margin-left: 100px;">
                                                    <i class="fa fa-code fa-2x m-t-2"></i><h5 class="f-w-300 m-t-0 text-white">蓝绿部署</h5>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 p-a-0">
                                                <div class="avatar avatar-lg avatar-text visible-lg-inline-block bg-primary text-white" style="float: right;">
                                                    <i class="fa fa-file-text-o fa-2x m-t-2"></i><h5 class="f-w-300 m-t-0 text-white">版本更新</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-md-offset-4">
                                                <div class="panel panel-default b-a-2 no-bg b-gray-dark">
                                                    <div class="panel-heading text-center">
                                                        <h1 class="text-success fa-5x"><i class="fa fa-check-circle"></i></h1>
                                                        <h2 class="text-center f-w-300 m-b-0">灰度环境版本更新成功</h2>
                                                    </div>
                                                    <div class="panel-body bg-gray p-b-0">
                                                        <table class="table table-striped table-bordered">
                                                            <tbody>
                                                            <tr>
                                                                <td>项目名称</td>
                                                                <td>贵州移动DEVOPS</td>
                                                            </tr>
                                                            <tr>
                                                                <td>项目编号</td>
                                                                <td>develop-base</td>
                                                            </tr>
                                                            <tr>
                                                                <td>项目名称</td>
                                                                <td>贵州移动DEVOPS</td>
                                                            </tr>
                                                            <tr>
                                                                <td>运行版本</td>
                                                                <td>v1.4.3</td>
                                                            </tr>
                                                            <tr>
                                                                <td>镜像名称</td>
                                                                <td>http://192.168.9.47:5000/develop-base:v1.4.5</td>
                                                            </tr>
                                                            <tr>
                                                                <td>已运行时间</td>
                                                                <td>1小时5分</td>
                                                            </tr>
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <!-- END ROW -->

        </div>
    </div>
    <!-- END EDIT CONTENT -->

</div>

<script>
    $(function(){
        var appid = getQueryString('appid');
        if(!appid){
            appid = 1;
        }
        getGray(appid);
    });
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }

    function getGray(appid) {
        $.ajax({
            url:'{{projcfg.appurl}}/api/project/operation/grayenvironmentmanage/getGray',
            type: 'get',
            data: {
                "appId": appid
            },
            success:function(data){
                console.log(data);
            }
        })
    }
</script>