<!--<link rel="stylesheet" href="../assets/vendor/css/lib.min.css">-->
<link rel="stylesheet" href="{{projcfg.appurl}}/static/css/health/jiankan.css">
<link rel="stylesheet" href="{{projcfg.appurl}}/static/css/health/app.min.e0bb64e7.css">
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.js"></script>

<style>
    .spanRed{
        background: #ff6666;
    }
    .spanGreen{
        background: #66cc33;
    }
    .spanGrey{
        background: #9d9d9d;
    }
    .table-bordered th,
    .table-bordered td {
        border: 2px solid rgba(174, 174, 174, 0.54) !important;

    }
</style>
<div style="margin-top: -20px;margin-left: 20px;margin-right: 30px">
    <div class="zhilian row">
        <div class="zhilian-top">健康检查</div>
        <!--<div class="zhilian-top-right">-->
            <!--<select class="select-top" id="select_app" name="select_app">-->
                <!--<option value="volvo">全部</option>-->
                <!--&lt;!&ndash;<option value="saab">Saab</option>&ndash;&gt;-->
                <!--&lt;!&ndash;<option value="opel">Opel</option>&ndash;&gt;-->
                <!--&lt;!&ndash;<option value="audi">Audi</option>&ndash;&gt;-->
            <!--</select>-->
            <!--<span  class="top-btn">查询</span>-->
        <!--</div>-->
    </div>
    <div class="jiankan-content row">
        <div class="jiankan-content-left">
            <div class="jk-title" id="app_name" name="app_name"></div>
            <!--<div class="jk-title" id="micro" name="micro"></div>-->
            <div class="jk-title" id="address" name="address">
                <!--<span>外网地址：</span>117.187.12.236:10003-->
            </div>
            <!--<div class="jk-title" id="container" name="container">-->
                <!--&lt;!&ndash;运行容器：&nbsp;&nbsp;&nbsp;10个&ndash;&gt;-->
            <!--</div>-->
        </div>
        <div class="jiankan-content-right">
            <span class="right-img" id="img" name="img"></span>
            <span class="right-name" id="normal" name="normal">正常</span>
        </div>

    </div>

    <!--style="height:270px;overflow-y:auto"-->
    <div class="row">
        <table id="table"  class="table table-bordered" style="color: #FFFFFF;margin-top: 10px;margin-left: 10px"></table>
    </div>
</div>
<script>
//    $(document).ready(function(){
//           getAllMassage();
//    });

//接收页面传来的数据
//    var searchData = window.location.href.split("=");
//    var serial_number = decodeURI(searchData[1]);
      var serial_number=1;
    $("#refresh_button").click(function (){
        var opt = {
            url: "http://local/api/data/?format=json",
            silent: true,
            query:{
                type:1,
                level:2
            }
        };

        $("#table").bootstrapTable('refresh', opt);

    });

    var app_normal=1;
    $('#table').bootstrapTable({

        url: '{{projcfg.appurl}}/api/project/operation/health',                      //请求后台的URL（*）
        method: 'get',                      //请求方式（*）
        striped: true,         //是否显示行间隔色
        pagination: true,                   //是否显示分页（*）
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        search: true,                      //是否显示表格搜索
        strictSearch: true,
        showColumns: true,                  //是否显示所有的列（选择显示的列）
        showRefresh: true,                  //是否显示刷新按钮
        queryParams : function (params) {
            //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            var temp = {
                rows: params.limit,                         //页面大小
                page: (params.offset / params.limit) + 1,   //页码
                id:serial_number,
            };
            return temp;
        },
        columns: [{
            field: 'id',
            title: '编号'
        }, {
            field: 'check_content',
            title: '检查内容',
            formatter: function(value,row,index) {
//                console.log(row,"  ",index)
                //通过判断单元格的值，来格式化单元格，返回的值即为格式化后包含的元素

                var json = JSON.parse(value)
                console.log("app",json.app)

                console.log("index",index,"row",row)
                if(index==0 && json.app==0){
                    console.log("index",index,"row",row)
                    app_normal=0;
                }

                if(json.app==0){
                    json.app="应用异常"
                    json.flag_a="spanRed";
                }else if(json.app==-1){
                    json.app="未采集"
                    json.flag_a="spanGrey"
                }else{
                    json.app="应用正常"
                    json.flag_a="spanGreen"
                }

                if(json.sql==0){
                    json.sql="数据库异常"
                    json.flag_s="spanRed";
                }else if(json.sql==-1){
                    json.sql="未采集"
                    json.flag_s="spanGrey"
                } else{
                    json.sql="数据库正常"
                    json.flag_s="spanGreen";
                }

                if(json.middle==0){
                    json.middle="中间件异常"
                    json.flag_m="spanRed";
                }else if(json.middle==-1){
                    json.middle="未采集"
                    json.flag_m="spanGrey";
                } else{
                    json.middle="中间件正常"
                    json.flag_m="spanGreen";
                }
                console.log("json.flag_a",json.flag_a);
//                $("#img").removeClass(json.flag_a);
                if(app_normal==0){
                    $("#img").addClass('spanRed');
//                    $("#img").css("background","#ff66666");
                    $("#normal").text("异常");
                }else {
                    $("#img").css("background","#66cc33");
                    $("#normal").text("正常");
                }
                value=json;

                var a = "";
                a="<span class="+"\""+value.flag_a+"\""+">"+value.app+"</span>";
                a+="<span class="+"\""+value.flag_s+"\""+">"+value.sql+"</span>";
                a+="<span class="+"\""+value.flag_m+"\""+">"+value.middle+"</span>";

                return a;
            }
        }, {
            field: 'check_time',
            title: '检查时间',
            formatter: function (value,row,index) {
                return value.replace(/T/,' ').replace('.000Z','');

            }
        }],

    });


//基本信息查询
$.ajax({
    url: '{{projcfg.appurl}}/api/project/operation/health/'+serial_number,
    type: 'get',
//    data:{
//        id:serial_number,
//    },
    success: function (data) {
        console.log("testdata",data)

        if(data.success){
            console.log("成功",data.success);

            $("#app_name").text("应用名称:  "+data.data.app_name);

//            $("#micro").append("镜像:  ",data.data.image_name);
            $("#address").append("外网地址:   ",data.data.vist_url);
//            $("#container").text("运行容器:   "+data.data.count);

            for(var i=0;i<1;i++){
                console.log("selector","  ",data.data.app_name);
                $("#select_app").append("<option value='"+i+"'>"+data.data.app_name+"</option>")
            }
        }
    }
});

</script>